<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.hcc.mapper.BedManageMapper">
  <resultMap id="BaseResultMap" type="com.neu.hcc.model.BedManage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="room_number" jdbcType="INTEGER" property="roomNumber" />
    <result column="bed_status" jdbcType="VARCHAR" property="bedStatus" />
    <result column="position_type" jdbcType="VARCHAR" property="positionType" />
    <result column="bedName" jdbcType="VARCHAR" property="bedname" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from keshe.bedManage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neu.hcc.model.BedManage">
    insert into keshe.bedManage (id, create_by, create_date,
      update_by, update_date, remarks,
      del_flag, parent_id, room_number,
      bed_status, position_type, bedName,
      sort)
    values (#{id,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{roomNumber,jdbcType=INTEGER},
      #{bedStatus,jdbcType=VARCHAR}, #{positionType,jdbcType=VARCHAR}, #{bedname,jdbcType=VARCHAR},
      #{sort,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.neu.hcc.model.BedManage">
    update keshe.bedManage
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      room_number = #{roomNumber,jdbcType=INTEGER},
      bed_status = #{bedStatus,jdbcType=VARCHAR},
      position_type = #{positionType,jdbcType=VARCHAR},
      bedName = #{bedname,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="searchBeds" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, create_by, create_date, update_by, update_date, remarks, del_flag, parent_id,
    room_number, bed_status, position_type, bedName, sort
    from keshe.bedManage
    where room_number = #{roomNumber,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, create_date, update_by, update_date, remarks, del_flag, parent_id,
    room_number, bed_status, position_type, bedName, sort
    from keshe.bedManage
  </select>
  <update id="addCustomerBed" parameterType="com.neu.hcc.model.BedManage">
    update keshe.bedManage
    set parent_id = #{parentId,jdbcType=INTEGER}
    where room_number = #{roomNumber,jdbcType=INTEGER}
    and id = #{id,jdbcType=INTEGER}
    and bed_status = #{bedStatus,jdbcType=VARCHAR}
  </update>

  <update id="updateStatus" parameterType="com.neu.hcc.model.BedManage">
    update keshe.bedManage
    set bed_status = #{bedStatus,jdbcType=VARCHAR}
    where parent_id is not null
  </update>

  <select id="searchCustomerId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select parent_id
    from keshe.bedManage
    where bed_status = #{bedStatus}
  </select>


</mapper>
