<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.hcc.mapper.UserManageMapper">
  <resultMap id="BaseResultMap" type="com.neu.hcc.model.UserManage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_sex" jdbcType="VARCHAR" property="staffSex" />
    <result column="staff_age" jdbcType="VARCHAR" property="staffAge" />
    <result column="staff_number" jdbcType="INTEGER" property="staffNumber" />
    <result column="staff_type" jdbcType="VARCHAR" property="staffType" />
    <result column="entry_date" jdbcType="TIMESTAMP" property="entryDate" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="position_title" jdbcType="VARCHAR" property="positionTitle" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from keshe.userManage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neu.hcc.model.UserManage">
    insert into keshe.userManage (id, create_by, create_date,
      update_by, update_date, remarks,
      del_flag, staff_name, staff_sex,
      staff_age, staff_number, staff_type,
      entry_date, operate_name, duty,
      position_title, brief, phone_number
      )
    values (#{id,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{staffSex,jdbcType=VARCHAR},
      #{staffAge,jdbcType=VARCHAR}, #{staffNumber,jdbcType=INTEGER}, #{staffType,jdbcType=VARCHAR},
      #{entryDate,jdbcType=TIMESTAMP}, #{operateName,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR},
      #{positionTitle,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.neu.hcc.model.UserManage">
    update keshe.userManage
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      staff_name = #{staffName,jdbcType=VARCHAR},
      staff_sex = #{staffSex,jdbcType=VARCHAR},
      staff_age = #{staffAge,jdbcType=VARCHAR},
      staff_number = #{staffNumber,jdbcType=INTEGER},
      staff_type = #{staffType,jdbcType=VARCHAR},
      entry_date = #{entryDate,jdbcType=TIMESTAMP},
      operate_name = #{operateName,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      position_title = #{positionTitle,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, create_by, create_date, update_by, update_date, remarks, del_flag, staff_name,
    staff_sex, staff_age, staff_number, staff_type, entry_date, operate_name, duty, position_title,
    brief, phone_number
    from keshe.userManage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_by, create_date, update_by, update_date, remarks, del_flag, staff_name,
    staff_sex, staff_age, staff_number, staff_type, entry_date, operate_name, duty, position_title,
    brief, phone_number
    from keshe.userManage
  </select>
  <select id="login" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select id, create_by, create_date, update_by, update_date, remarks, del_flag, staff_name,
           staff_sex, staff_age, staff_number, staff_type, entry_date, operate_name, duty, position_title,
           brief, phone_number
    from keshe.userManage
    where staff_number = #{staffNumber,jdbcType=INTEGER}
    and phone_number = #{phoneNumber,jdbcType=VARCHAR}
    and staff_type = #{staffType,jdbcType=VARCHAR}
  </select>
  <select id="selectAllByCondition" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select id, create_by, create_date, update_by, update_date, staff_name,
           staff_sex, staff_age
    from keshe.userManage
  </select>

</mapper>
